@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap");

:root {
  --card-bg: hsla(272, 100%, 32%, 0.7);

  --font-primary: "Inter", sans-serif;
  --font-secondary: "Space Grotesk", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  z-index: 1;
  overflow-x: clip;
  position: relative;
  text-transform: capitalize;
  font: 400 16px var(--font-secondary);
}

body::before {
  content: "";
  width: 100%;
  z-index: -1;
  height: 100vh;
  position: fixed;
  background-color: #0a0a0a;
  background-image: url("../img/section-bg.png");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 991.9px) {
  body::before {
    background-size: auto;
  }
}

/* ===========================================
                    reset css
=========================================== */
a {
  text-decoration: none;
  color: inherit;
}

p {
  text-transform: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
  font-weight: normal;
}

img,
picture,
video,
canvas,
svg {
  width: 100%;
  height: auto;
  display: block;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

button {
  all: unset;
  cursor: pointer;
}

section,
aside {
  overflow-x: clip;
}

/* ===========================================
                utility classes
=========================================== */
.container {
  padding: 0 20px;
}

.section-title {
  font-weight: 600;
  color: #e6b2fb;
  margin-bottom: 38px;
  font-size: calc(28px + 0.5vw);
}

.btn-one {
  width: 90%;
  display: flex;
  padding: 14px 0;
  color: #e8ccff;
  font-weight: 600;
  text-align: center;
  align-items: center;
  border-radius: 8px;
  background: #6400bd;
  justify-content: center;
  border: 3px solid #8700f5;
  font-size: calc(16px + 0.2vw);
  font-family: var(--font-primary);
  transition: background 200ms ease;
}

.btn-one:hover {
  background: hsla(283, 89%, 44%, 0.2);
}

@media (max-width: 767.1px) {
  .btn-one {
    max-width: 300px;
    margin-inline: auto;
  }
}

.title-sm {
  font-size: 24px;
  font-weight: 500;
  color: #e6b2fb;
  font-family: var(--font-primary);
}

/* ===========================================
              section: header
=========================================== */
#header {
  margin-bottom: 60px;
}

.header-brand {
  height: 100px;
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: space-between;
}

.logo {
  font-size: 26px;
  font-weight: 800;
  color: #ffd33f;
}

.nav-link-wrap {
  gap: 28px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav-link {
  font-size: 20px;
  color: #fff7c7;
  transition: color 300ms ease;
}

.nav-link:focus,
.nav-link:hover,
.nav-link.active {
  color: #ffa4bb;
}

.logout-btn {
  gap: 8px;
  display: flex;
  font-size: 20px;
  color: #ff85a4;
  align-items: center;
}

.logout-btn img {
  width: 17px;
  margin-top: 1px;
}

@media (max-width: 991.9px) {
  .nav-link,
  .logout-btn {
    font-size: 17px;
  }
}

@media (max-width: 374.9px) {
  .nav-link-wrap {
    gap: 22px;
  }

  .logout-btn .label {
    display: none;
  }
}

/* ===========================================
            section: stat cards
=========================================== */
.card-wrap {
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.2fr;
}

.card-stat {
  padding: 20px;
  height: 134px;
  border-radius: 12px;
  background: var(--card-bg);
}

.card-stat-title {
  height: 48px;
  font-size: 18px;
  font-weight: 600;
  color: #ffe0e8;
  line-height: 48px;
  border-radius: 6px;
  margin-bottom: 18px;
  padding-inline: 20px;
  background: #5600a2;
}

.card-stat-number {
  gap: 12px;
  height: 65px;
  display: flex;
  padding: 20px;
  border-radius: 8px;
  align-items: center;
  background: #6400bd;
  border: 2px solid #8700f5;
}

.card-stat-number img {
  max-width: 26px;
}

.card-stat-number span {
  color: #fff094;
  font-size: 22px;
}

@media (max-width: 991.9px) {
  .card-wrap {
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .card-refer {
    grid-column: span 2;
  }
}

@media (max-width: 767.9px) {
  .card-wrap {
    grid-template-columns: 1fr;
  }

  .card-refer {
    grid-column: span 1;
  }
}

/* ===========================================
            section: refer cards
=========================================== */
.card-refer {
  height: 152px;
  display: flex;
  padding: 20px 28px;
  border-radius: 12px;
  flex-direction: column;
  background: var(--card-bg);
  justify-content: space-between;
}

.refer-card {
  gap: 28px;
  padding: 38px;
  display: flex;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
}

.refer-card .sub-title {
  font-size: 15px;
  margin-top: 12px;
}

.refer-link-wrap {
  display: flex;
  align-items: center;
}

.custom-input {
  width: 100%;
  padding: 18px;
  font-size: 17px;
  color: #e9edfe;
  border-radius: 10px;
  background: transparent;
  font-family: var(--font-primary);
  border: 3px solid hsla(273, 100%, 48%, 0.8);
  transition: border-color 250ms ease;
}

.custom-input:focus-visible {
  outline: 0;
  border-color: hsl(266 71% 63% / 1);
}

.custom-input::placeholder {
  color: hsl(230, 26%, 74%);
}

.refer-copy-btn {
  border: 0;
  outline: 0;
  padding: 11px;
  max-width: 22px;
  margin-left: -54px;
  border-radius: 4px;
  background: #6400bd;
}

.toast {
  width: 260px;
  color: #ffe0e8;
  border-radius: 10px;
  background: #6400bd;
  border: 3px solid #8700f5 !important;
}

.toast .checkmark {
  max-width: 26px;
}

/* ===========================================
            section: community
=========================================== */
#community {
  margin: 80px 0;
}

.social-wrap {
  gap: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media (max-width: 767.9px) {
  .social-wrap {
    gap: 38px;
  }
}

.social {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.social::before {
  left: 0;
  width: 75%;
  height: 100%;
  content: "";
  bottom: -7px;
  position: absolute;
  border-bottom: 2px solid #7100cc;
}

.social-icon,
.social-text {
  display: flex;
  height: 47px;
}

.social-icon {
  width: 70px;
  padding: 12px;
  background: url("../img/socials/icon-bg.png") no-repeat center/cover;
}

.social-text {
  width: 148px;
  color: #fff;
  font-weight: 600;
  margin-left: -5px;
  align-items: center;
  justify-content: center;
  background: url("../img/socials/social-text-bg.png") no-repeat center/cover;
}

/* ===========================================
            section: games
=========================================== */
.games-wrap {
  gap: 30px;
  display: grid;
  margin: 60px 0 80px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

@media (max-width: 767.9px) {
  .games-wrap {
    gap: 50px;
  }
}

@media (max-width: 424.9px) {
  .games-wrap {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
}

.game {
  width: 100%;
}

.game-title {
  width: 105%;
  height: 80px;
  display: flex;
  font-weight: 600;
  color: #f9f4bc;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;
  background: url("../img/game-title-bg.png") no-repeat center / contain;
}

/* ===========================================
            page: redeem
=========================================== */
.card-redeem {
  padding: 28px;
  border-radius: 12px;
  background: var(--card-bg);
}

.form-label {
  font-size: 17px;
  color: #e9edfe;
}
